# dependencies
**/node_modules

# builds
**/dist
**/build
**/.vite

# env files (DO NOT PUSH)
**/.env

# sqlite db (optional; usually don't commit)
**/*.sqlite
**/*.sqlite-shm
**/*.sqlite-wal

# OS / editor
.DS_Store
Thumbs.db
.vscode
